@charset "utf-8";
html,body {
    height: 100%;
    width:  100%;
}
.pict  {
    max-width: 100%; 
    height: 100%;
    background: rgb(75, 75, 75) url(pict.png) no-repeat center center;
    background-size: auto 80%;
}
.pict-2 {
    max-width: 100%; 
    height: 100%;
    background: rgb(75, 75, 75) url(pict-2.png) no-repeat center center;
    background-size: auto 80%;
    }

